<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Redressed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= event.eventName %></title>
  </head>
  <body>
    <!-- NAVBAR START -->
    <div class="navbar">
      <div class="inner-nav">
        <a id="main-a" href="/">
          <h1 id="logo">
            <span class="tag">!</span>Joinn<span class="tag">US</span>.com
          </h1>
        </a>
        <nav role="navigation">
          <% if (currentUser) {%>
          <ul>
            <a href="/create">Crear evento</a>
            <a href="/api/v1/auth/logout">Logout</a>
          </ul>
          <% } else { %>
          <ul>
            <a href="/login">Login</a>
          </ul>
          <% } %>
        </nav>
      </div>
    </div>
    <!-- NAVBAR END -->
    <main id="app">
      <section class="container">
        <article class="event-desc">
          <header class="event-header">
            <img src="<%= event.eventImageURL.url%>" alt="Header" />
            <h1 class="event-heading"><%= event.eventName%></h1>
            <p class="event-description"><%= event.eventDescription %></p>
          <% if (event.eventAdditionalInfo) { %>
            <h2 class="ad">Información Adicional</h2>
            <p><%= event.eventAdditionalInfo %></p>
          <% } else { %>
          <% } %>
          </header>

          <aside>
            <div class="top-side">
              <h3><%= event.eventName %></h2>
              <p>Fecha: <span id="event-date"><%= event.eventStartDate %></span></p>
              <p>Event created by: <%= event.eventOwner.email %></p>
            </div>
            <div class="bottom-side">
              <div id='map' style='width: 100%; height: 300px;'></div>
            </div>
            <div class="bottom-actions">
              <% if (event.eventOwner.equals(currentUser)) { %>
                <a class="edit-btn" href="/events/<%= event.eventSlug %>/edit">Edit</a>
                <form action="/api/v1/events/<%= event.eventSlug %>?_method=DELETE" method="POST">
                  <button class="del-btn">Delete</button>
                </form>
                <% } %>
            </div>
          </aside>
        </article>
      </div>
    </main>

    <footer>
      <p>
        &copy; 2022 Alejandro La Rosa. Check The Real
        <a href="https://www.joinnus.com/">JoinUS</a>
      </p>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
    <script src="/js/mapbox.js"></script>
    <script src="/js/moment.js"></script>
  </body>
</html>
