<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Redressed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>JoinnUS | Home</title>
  </head>
  <body>
    <!-- NAVBAR START -->
    <div class="navbar">
      <div class="inner-nav">
        <a id="main-a" href="/">
          <h1 id="logo">
            <span class="tag">!</span>Joinn<span class="tag">US</span>.com
          </h1>
        </a>
        <nav role="navigation">
          <% if (currentUser) {%>
          <ul>
            <a href="/create">Crear evento</a>
            <a href="/api/v1/auth/logout">Logout</a>
          </ul>
          <% } else { %>
          <ul>
            <a href="/login">Login</a>
          </ul>
          <% } %>
        </nav>
      </div>
    </div>
    <!-- NAVBAR END -->
    <header id="header"></header>
    <% if (success && success.length) { %>
    <div class="alert"><%= success %></div>
    <% } %> <% if (error && error.length) { %>
    <div class="alert danger"><%= error %></div>
    <% } %>
    <main id="app">
      <div class="search">
        <form>
          <input type="text" placeholder="Search Event..." />
          <button>Search</button>
        </form>
      </div>
      <div class="events">
        <% for (let event of events) { %>
        <article class="event">
          <img src="<%= event.eventImageURL%>" alt="<%= event.eventName %>" />
          <div class="event-info">
            <h4><%= event.eventName %></h4>
            <div class="event-date">
              <svg
                class="w-6 h-6 cal"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                ></path>
              </svg>
              <p id="event-date"><%= event.eventStartDate %></p>
            </div>
            <div class="event-options">
              <p>Desde <span>S/ 69.00</span></p>
              <a href="/events/<%= event.eventSlug %>" class="button">VER +</a>
            </div>
          </div>
        </article>
        <% } %>
      </div>
    </main>
    <footer>
      <p>
        &copy; 2022 Alejandro La Rosa. Check The Real
        <a href="https://www.joinnus.com/">JoinUS</a>
      </p>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/moment.js"></script>
  </body>
</html>
